* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 2rem;

  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h1,
h2,
h3 {
  color: #1098ad;
}
h4 {
  font-size: 1.7rem;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 1.4rem;

  line-height: 1.5;
}

/* footer  p {
  font-size: 0.8rem;
  text-align: center;
} */

li {
  font-size: 1.3rem;
}
#author {
  font-style: italic;
  color: darkred;
  font-size: 1.2rem;
}
.author-image {
  float: left;
  margin-bottom: 20px;
}
.author {
  margin-left: 20px;

  float: left;
}
#copyright {
  font-size: 0.8rem;
  text-align: center;
}
.related-author {
  font-size: 1.2rem;
  font-weight: bold;
}

.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

body {
  background-color: light-gray;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
}

li:nth-child(2n) {
  color: red;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

/* a:visited {
  color: #777;
} */

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline;
}
a:active {
  background-color: black;
  color: white;
  font-style: italic;
}

/* Resolving conflicts */

#copyright {
  color: purple;
  font-size: 2rem;
}

.copyright {
  color: skyblue;
}
.post-image {
  width: 100%;
  height: auto;
  display: inline-block;
  margin-block: 20px;
}

.footer-text {
  color: yellow;
}
footer p.copyright.footer-text {
  color: red;
}

article {
  max-width: 800px;
  float: left;
}
aside {
  max-width: 300px;
  float: right;
}
footer {
  clear: both;
  background: powderblue;
}
header {
  margin-bottom: 40px;
  padding: 1.5rem;
}
